<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>web_ref</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
   	<context-param>
 		<param-name>MasterID</param-name>
 		<param-value>admin</param-value>
 	</context-param>
 	
 	<context-param>
 		<param-name>MasterPassword</param-name>
 		<param-value>1234</param-value>
 	</context-param>
 	
 	<context-param>
 		<param-name>MasterName</param-name>
 		<param-value>Master</param-value>
 	</context-param>
</web-app>