@charset "UTF-8";
/* AI.jsp 에서 사용하는 css */

.container{
	min-width: 300px;
	}

.table {
      border-collapse: collapse;
      border-top: 3px solid #343A40;     
}  
    .table th {
      color: #343A40;
      background: #D6EEF2;
      text-align: center;
    }
    .table th, .table td {
      padding: 10px;
      border: 1px solid #ddd;
    }
    .table th:first-child, .table td:first-child {
      border-left: 0;
    }
    .table th:last-child, .table td:last-child {
      border-right: 0;
    }
    .table tr td:first-child{
      text-align: center;
    }
    
button {
	border: 1.5px solid #343A40;
	width: 150px;
	margin: 10px;
	font-weight: 400;
	color: #343A40;
	padding: 8px 25px;
	cursor: pointer;
	border-radius: 100px;
}
 

.btn1 {
	border-radius: 100px;
	margin-bottom:20px;
	margin-right:10px;
	float:right;
}


fieldset { 
border: 2px solid #343A40;
padding: 10px;
margin: 10px;
}


a, a:hover {

	text-decoration: none;

}

.fc {
	display: flex;
}
